#hubr-outer-container {
  position: relative;
  margin: 0px !important;

  width: 0px;
  height: 32px;
}

#hubr-inner-container {
  position: absolute;
  top: 0px;
  left: 32px;

  width: 32px;
  height: 32px;

  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
}

#hubr-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #BBBBBB;
}

#hubr-badge.warn {
  background-color: #CC0000;
}

#hubr-badge.error {
  background-color: #CC00CC;
}
